


body{
    position: relative;
}

.page {
	position: relative;
    padding: 1%;
    width: 375px;
    height: 1012px;
    background: #FFFFFF;
    margin: 0 auto;

}
.containerCa1{
    position: absolute;
    width: 340px;
    height: 18.31px;
    left: 22px;
    top: 12px;


}
.containerCa2{
    position: absolute;
    width: 340px;
    height: 65px;
    left: 22px;
    top: 51px;

}
.back{
    width: 24px;
    height: 24px;

}

.titleCa{
/* 학력 정보 */

position: absolute;
width: 200px;
height: 35px;
top:30px;
left:0px;

/* header 4 */
font-family: 'omyu_pretty';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.01em;

color: #000000;

}
.line{
    /* Line 3 */
    
    position: absolute;
    width: 385px;
    height: 0px;
    right: 0px;
    top: 120px;
    
    border: 2px solid #ebebeb;
    
}
.containerCa3{
    position: absolute;
    width: 375px;
    height: 650px;
    left: 0px;
    top: 125px;
    border-radius: 0px 0px 0px 0px;
    background: #ffffff;
}

.starDiv{

width: 100px;
height: 25px;
left: 9px;
top: 123px;
}
.starInput{
/* *필수입니다 */
left: 9px;
font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
letter-spacing: 0.01em;

color: #949494;

}

.po1Input{
/* 학위 */

position: absolute;
width: 340px;
height: 80px;
left: 17px;
top: 40px;


}
.po1Name{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.01em;
    
    color: #000000;
}
.po1Input input{
/* Rectangle 16 */

box-sizing: border-box;

width: 337px;
height: 30px;

margin-top: 8px;

background: #FFFFFF;
border: 2px solid #949494;
border-radius: 12px;

}
.po2Input{
/* 전공 */

position: absolute;
width: 340px;
height: 80px;
left: 17px;
top: 140px;

}
.po2Name{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 00;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.01em;
    
    color: #000000;
}
.po2Input input{
/* Rectangle 27 */

box-sizing: border-box;


width: 337px;
height: 30px;
left: 17px;
top: 331px;

margin-top: 8px;

background: #FFFFFF;
border: 2px solid #949494;
border-radius: 12px;

}

.submitPo button,
.deletePo button {
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    top: 79.03%;
    bottom: 13.32%;
    font-family: 'Cafe24Ssurround';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.05em;
    color:#FFFFFF;
    transition: all 0.2s ease; /* 추가된 부분: hover 효과를 위한 transition */
}

.submitPo button {
    left: 20%;
    right: 55%;
    background: rgba(81, 81, 81, 0.6);
    
    
}

.deletePo button {
    left: 55%;
    right: 20%;
    background: rgba(247, 6, 6, 0.6);
}


.submitPo button:before,
.deletePo button:before {
    content: '';
    display: block;
    position: absolute;
    top: 10%;
    left: 6%;
    width: 90%;
    height: 89%;
    border-radius: 50px;
    transition: all 0.2s ease;
}
.submitPo button:hover:before {
    margin-top: -2px;
    margin-left: 0px;
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.5); 
}

.deletePo button:hover:before {
    margin-top: -2px;
    margin-left: 0px;
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.5); 
}

.backPo{
    cursor: pointer;
}